body{
  margin-left: 200px;
  margin-top: 100px;
}
h1{
  text-align: center;
  font-size: 50px;
  color: coral;
  margin-top: 20px;
  margin-bottom: 20px;
}
.todoapp{
  border: 1px solid brown;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
  height: auto;
  background-color: cornsilk;
}
.footer{
  border: 1px solid brown;
  margin-top: 10px;
}
.create{
  width: 520px;
  height: 50px;
  
}
.input-create{
  width: 450px;
  height: 35px;
}
.button-add{
  height: 40px;
  width: 40px;
  background-color: white;
}
.button-filter{
  height: 40px;
  width: 60px;
}
.button-delete-completed{
  height: 40px;
  width: 80px;
}
.main{
  height: auto;
  border: 1px solid brown;
}
.todo-list{
  height: auto;
  list-style-type: none;
}
.not-completed{
   color: black;
}
.completed{
   color: grey;
   text-decoration: line-through;
}
.todo{
  margin-top: 5px;
  margin-bottom: 5px;
}
.checkbox{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}